In [41]:
# Cargar a la memoria de trabajo las bibliotecas: Pandas (manejo de datos, 
# Numpy (numerical python) y la biblioteca de gráficas Matplotlib
# Se asignan nombres cortos.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#
# Usar "Shift+Enter" para procesar la información de la celda
#

In [42]:
# Descarga los datos de una estación del Servicio Meteorológico Nacional
# http://smn1.conagua.gob.mx/emas/
# Lee un archivo de texto con la función Pandas "read_csv", con elementos separados por mas de 
# un espacio, brincándose 4 renglones del inicio (encabezados)
df0 = pd.read_csv('Alamos.txt', sep='\s+')
# "Shift + Enter"

In [43]:
# Lee los primeros 5 renglones del archivo
df0.head()
# "Shift+Enter"

        FECHA  PRECIP  EVAP  TMAX  TMIN
0  01/01/1961     0.0   2.0  22.5   6.0
1  02/01/1961     0.0   1.1  25.0   9.0
2  03/01/1961     0.0   3.4  27.5   9.0
3  04/01/1961     0.0   2.4  27.5  11.0
4  05/01/1961     7.4   6.0  22.0  13.5

In [44]:
# Dar estructura de datos (DataFrame)
df = pd.DataFrame(df0)

In [45]:
# Ver los tipos de datos que Pandas ha reconocido al leer
df.dtypes

FECHA      object
PRECIP    float64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [46]:
df.head()

        FECHA  PRECIP  EVAP  TMAX  TMIN
0  01/01/1961     0.0   2.0  22.5   6.0
1  02/01/1961     0.0   1.1  25.0   9.0
2  03/01/1961     0.0   3.4  27.5   9.0
3  04/01/1961     0.0   2.4  27.5  11.0
4  05/01/1961     7.4   6.0  22.0  13.5

In [47]:
# Realiza un análisis exploratorio de datos
df.describe()

            PRECIP         EVAP         TMAX         TMIN
count  8106.000000  8106.000000  8106.000000  8106.000000
mean      1.875771     6.446805    32.846274    13.951332
std       8.175327     2.737040     4.819429     5.394086
min       0.000000     0.100000    14.500000    -4.000000
25%       0.000000     4.200000    29.500000     9.500000
50%       0.000000     6.200000    33.000000    12.500000
75%       0.000000     8.500000    36.500000    18.500000
max     152.000000    16.400000    49.500000    28.000000

In [48]:
df.tail()

           FECHA  PRECIP  EVAP  TMAX  TMIN
8101  27/10/1984     0.0   8.6  36.5   9.5
8102  28/10/1984     0.0   8.9  37.5   8.5
8103  29/10/1984     0.0   7.1  36.5   9.5
8104  30/10/1984     0.0   7.1  36.5   8.5
8105  31/10/1984     5.7   6.4  35.5   9.0

In [49]:
# Promedio
df.mean()

PRECIP     1.875771
EVAP       6.446805
TMAX      32.846274
TMIN      13.951332
dtype: float64

In [50]:
# Desviación estándar 
df.std()

PRECIP    8.175327
EVAP      2.737040
TMAX      4.819429
TMIN      5.394086
dtype: float64

In [51]:
# Mediana 
df.median()

PRECIP     0.0
EVAP       6.2
TMAX      33.0
TMIN      12.5
dtype: float64

In [52]:
# Máximo 
df.max()

FECHA     31/12/1983
PRECIP           152
EVAP            16.4
TMAX            49.5
TMIN              28
dtype: object

In [53]:
# Mínimo
df.min()

FECHA     01/01/1961
PRECIP             0
EVAP             0.1
TMAX            14.5
TMIN              -4
dtype: object

In [54]:
# Resumen de estadístico
df.describe()

            PRECIP         EVAP         TMAX         TMIN
count  8106.000000  8106.000000  8106.000000  8106.000000
mean      1.875771     6.446805    32.846274    13.951332
std       8.175327     2.737040     4.819429     5.394086
min       0.000000     0.100000    14.500000    -4.000000
25%       0.000000     4.200000    29.500000     9.500000
50%       0.000000     6.200000    33.000000    12.500000
75%       0.000000     8.500000    36.500000    18.500000
max     152.000000    16.400000    49.500000    28.000000

In [77]:
# Selecciona los renglones con Temperatura > 24ºC y < 25ºC
df_PRE = df[df.PRECIP > 60] 
df_select = df_PRE[df_PRE.PRECIP < 153]
df_select

           FECHA  PRECIP  EVAP  TMAX  TMIN
210   02/08/1961    61.0   0.5  33.5  22.5
266   27/09/1961    64.0  10.7  33.5  21.0
1705  22/12/1965   114.3   1.6  21.0  12.0
2139  01/03/1968   123.5   1.6  21.5  12.0
2675  24/08/1969   127.0   4.6  32.0  22.5
2775  02/12/1969    68.0   1.9  24.0  10.0
3387  15/08/1971    65.0   3.7  30.5  20.0
3827  28/10/1972    65.5   1.5  21.0  15.5
4075  10/08/1973   133.0   2.2  32.0  15.0
4414  17/07/1974    72.0   4.9  30.5  22.0
4421  24/07/1974   133.5   3.5  34.5  23.5
4458  30/08/1974    66.0  11.1  32.5  21.0
4527  07/11/1974    90.0   1.6  18.5  15.5
5220  30/09/1976    70.0   4.3  33.0  10.5
5544  20/08/1977    63.4  11.4  33.0  15.0
5971  21/10/1978    95.0   8.6  37.0  15.5
6066  24/01/1979    82.0   0.9  26.5   7.5
6590  02/08/1980    72.0  11.7  34.5  13.5
6600  12/08/1980   106.0   8.4  36.5  13.0
6604  16/08/1980   152.0   9.3  36.5  13.5
6901  10/07/1981    80.0   6.6  31.0  21.5
6905  14/07/1981    62.0   8.6  39.0  19.0
6974  21/09/1981   102.0   7.1  37.0  19.0
6990  07/10/1981    90.0   6.0  28.5  11.5
7254  03/07/1982    81.0  10.1  32.0  11.5
7292  10/08/1982    61.0  11.6  38.5  13.0
7342  29/09/1982    77.0   8.3  25.0  10.0
7412  08/12/1982    85.0   7.2  27.0   9.5
7697  19/09/1983    69.0   9.4  39.5  10.5
7726  18/10/1983    81.0   5.2  26.5  11.0

In [71]:
# Selecciona los renglones con Temperatura > 24ºC y < 25ºC
df_PRE = df[df.TMAX > 45] 
df_select = df_PRE[df_PRE.TMAX < 53]
df_select

           FECHA  PRECIP  EVAP  TMAX  TMIN
576   16/09/1962    22.6   6.3  45.5  24.5
818   16/05/1963     0.0   8.3  46.5  12.5
819   17/05/1963     0.0   7.7  48.0  12.0
820   18/05/1963     0.0   9.9  46.5  17.5
875   12/07/1963     0.0   8.6  45.5  21.5
876   13/07/1963     0.0   5.4  45.5  23.5
949   24/09/1963     0.0   8.2  46.0  22.0
950   25/09/1963     0.0   5.0  46.0  21.0
1195  28/05/1964     0.0  12.7  46.0  19.0
1221  23/06/1964     0.0   7.5  46.5  23.0
5114  16/06/1976     0.0  10.9  49.5  12.5

In [75]:
# Selecciona los renglones con Temperatura > 24ºC y < 25ºC
df_PRE = df[df.TMIN < 3] 
df_select = df_PRE[df_PRE.TMIN > -10]
df_select

           FECHA  PRECIP  EVAP  TMAX  TMIN
359   12/01/1962     0.0   3.6  26.5   2.0
420   14/03/1962     0.0   6.6  25.0   2.0
421   15/03/1962     0.0   4.3  27.5   2.0
696   14/01/1963     0.0   3.6  20.5   2.5
701   19/01/1963     0.0   2.3  20.5   1.1
1085  07/02/1964     0.0   4.4  24.0   2.5
1094  16/02/1964     0.0   5.1  25.5   1.5
1110  04/03/1964     0.0   4.4  28.5   2.5
1444  16/02/1965     0.0   4.1  20.0   2.5
1446  18/02/1965     0.0   2.6  28.5   2.5
1459  03/03/1965     0.0   3.4  24.0   2.0
2802  29/12/1969     0.0   3.6  19.0   0.0
2803  30/12/1969     0.0   2.3  20.0   0.0
2804  31/12/1969     0.0   2.6  22.0   0.5
3165  05/01/1971     0.0   1.8  21.0   0.5
3166  06/01/1971     0.0   2.4  19.5   0.5
3167  07/01/1971     0.0   4.5  17.5   0.5
3571  15/02/1972     0.0   6.0  27.5  -4.0
3894  03/01/1973     0.0   2.0  23.0   2.0
3902  11/01/1973     0.0   2.6  22.5   0.0
3912  21/01/1973     0.0   2.3  21.0   1.5
3913  22/01/1973     0.0   3.5  23.5   2.5
4175  20/11/1973     0.0   4.3  26.5   0.6
4176  21/11/1973     0.0   1.5  27.0   0.4
4177  22/11/1973     0.0   2.9  26.5   0.5
4179  24/11/1973     0.0   4.1  26.0   0.5
4180  25/11/1973     0.0   1.3  23.0   0.4
4560  10/12/1974     0.0   4.0  32.0   0.1
4581  31/12/1974     0.0   2.0  15.3   0.3
5565  10/09/1977     0.0   7.4  36.0   1.3

In [78]:
# Selecciona los renglones con Temperatura > 24ºC y < 25ºC
df_PRE = df[df.EVAP > 14] 
df_select = df_PRE[df_PRE.EVAP < 17]
df_select

           FECHA  PRECIP  EVAP  TMAX  TMIN
121   03/05/1961     0.0  15.7  35.5  20.5
140   22/05/1961     0.0  15.5  40.0  16.5
185   08/07/1961     0.0  16.4  36.0  20.5
514   16/07/1962     6.2  14.4  38.0  22.5
831   29/05/1963     0.0  14.7  40.0  24.0
2594  03/06/1969     0.0  14.2  41.5  13.0
2595  04/06/1969     0.0  14.1  39.0  17.0
2603  12/06/1969     0.0  14.3  40.0  17.0
2621  30/06/1969     0.3  14.1  38.5  24.0
2640  19/07/1969     0.0  15.0  32.5  19.5
2991  15/07/1970    36.0  14.4  34.5  24.5
3332  21/06/1971     4.5  14.4  36.0  22.0
4717  16/05/1975     0.0  14.3  33.0  18.0
5128  30/06/1976     0.0  14.1  39.5  13.0
7976  24/06/1984     0.0  15.5  38.5  17.0